// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-panel--orange {
  background-color: goldenrod;
}

.align-top {
  td,
  th {
    vertical-align: top;
  }
}

.body-blue {
  background-color: #2b8cc4;
}

.govuk-input--company-number {
  max-width: 13ex;
}

.change-button {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
}

.app-check-your-answers {
  margin-bottom: 15px;
}

.reason-container {
  margin-bottom: 50px;
}
