{% extends "layout.html" %}

{% block pageTitle %}
  Applying for an extension for other reasons
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "/choose-reason"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {% set hintHTML %}
        Anything you tell us to support your appeal will be kept confidential.
        {% endset -%}
        <h1 class="govuk-heading-xl">Provide more information to support your extension</h1>
        {{ govukTextarea({
            name: "otherInformation",
            id: "other-information",
            errorMessage: otherInformationError,
            value: otherInformation,
        rows: '12',
        label: { text: "Anything you tell us to support your extension will be kept condfidential.",
        isPageHeading: true,
        classes: 'govuk-heading-large' } }) }}

        {{ govukButton({
            text: "Continue"
          }) }}
      </form>
    </div>
  </div>

{% endblock %}