{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Extension due to ill health: Is the person still ill?
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "illness-start-date"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
              titleText: "There was a problem with your extension information",
              errorList: errorList
            }) }}
      {% endif %}
      <form action="" method="post">
        {% if errorList.length > 0 %}
          {% set continuedIllnessError = {
            text: continuedIllnessErr.text
          } %}
        {% else %}
          {% set continuedIllnessError = false %}
        {% endif %}

        {% set hintHTML %}
        You told us the illness started on
        {{ reason.illnessStartDate.day }}
        {{ reason.illnessStartDate.month | displayMonth }}
        {{ reason.illnessStartDate.year }}
        {% endset -%}

        {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "continued-illness",
              name: "continuedIllness",
              errorMessage: continuedIllnessError,
              fieldset: {
                legend: {
                  text: 'Is the person still ill?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              hint: {
                html: hintHTML
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

        {{ govukInput({
                id: "editId",
                name: "editId",
                type: "hidden",
                value: id
              }) }}

        {{ govukButton({
              text: "Continue"
            }) }}

        <p>
          <a href="/sign-out" class="govuk-link">Save and sign out</a>
        </p>

      </form>
    </div>
  </div>

{% endblock %}