{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "confirm-company"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">We cannot grant an extension to the filing deadline</h1>
      <p class="govuk-body-m">
        The last filing date for RUNNING LATE LTD (00111112) is already 12 months or more after the end of the accounting reference period.</p>
      <p>Filing extensions are granted to allow a company to meet its filing obligations. They cannot be used to extend the filing deadline to more than 12 months after the end of the accounting reference period.</p>
      <p>You must
        <a href="https://www.gov.uk/running-a-limited-company">file your company accounts</a>
        as soon as possible to avoid a late filing penalty. The penalty will increase depending on how late the accounts reach Companies House.</p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html" class="govuk-link">What did you think of this service?</a>
        (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}