{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers before sending your application
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if mode %}
        <h1 class="govuk-heading-xl">
          You already have an application in progress
        </h1>
      {% else %}
        <h1 class="govuk-heading-xl">
          Check your application
        </h1>
      {% endif %}

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-8",
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: scenario.company.name
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: scenario.company.number
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              text: scenario.company.address | nl2br | safe
            }
          },
          {
            key: {
              text: "Accounts due"
            },
            value: {
              text: scenario.company.accountsDue
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: userEmail
            }
          }
        ]
      })
      }}

      {% if extensionReasons.length > 1 %}
        <h2 class="govuk-heading-l">Extension reasons</h2>
      {% else %}
        <h2 class="govuk-heading-l">Extension reason</h2>
      {% endif %}
      {% for reason in extensionReasons %}
        {% if extensionReasons.length < 1 %}
          {% set extensionListIndex %}
          {{loop.index}}:
          {% endset %}
        {% else %}
          {% set extensionListIndex = '' %}
        {% endif %}

        {% if reason.documents.length > 0 %}
          {% if reason.documents.length > 1 %}

            {% set documentList %}
            <ul class="govuk-list govuk-list--bullet">
              {% for document in reason.documents | reverse %}
                <li>
                  <a href='' class='govuk-link' download="download">{{ document }}</a>
                </li>
              {% endfor %}
            </ul>
            {% endset %}

          {% else %}

            {% set documentList %}
            <a href='' class='govuk-link' download="download">{{ reason.documents }}</a>
            {% endset %}

          {% endif %}

          {% set documents = {
            key: {
              text: "Supporting documents"
            },
            value: {
              html: documentList
            },
            actions: {
              items: [
                {
                  href: "evidence-upload?id=" + loop.index0,
                  text: "Change",
                  visuallyHiddenText: "supporting documents"
                }
              ]
            }
          }
 %}
        {% else %}
          {% set documents = {
            key: {
              text: "Supporting documents"
            },
            value: {
              text: "None"
            },
            actions: {
              items: [
                {
                  href: "evidence?id=" + loop.index0,
                  text: "Change",
                  visuallyHiddenText: "supporting documents"
                }
              ]
            }
          }
 %}
        {% endif %}

        <div class="reason-container">
          {% if reason.reason === 'illness' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Illness</h3>

            {% set illPersonHTML %}
            {% if reason.illPerson === 'Someone else' %}
              Someone else -
              {{ reason.otherPerson }}
            {% else %}
              {{ reason.illPerson | capitalize }}
            {% endif %}
            {% endset %}

            {% if reason.continuedIllness === 'yes' %}
              {% set endDateHTML = {
              key: {
                text: "Continuing illness?"
              },
              value: {
                html: reason.continuedIllness | capitalize
              },
              actions: {
                items: [
                  {
                    href: "illness/continued-illness/?id=" + loop.index0,
                    text: "Change",
                    visuallyHiddenText: "continuing illness"
                  }
                ]
              }
            }
            %}
            {% else %}
              {% set endDateHTML = {
              key: {
                text: "Illness end date"
              },
              value: {
                html: reason.illnessEndDate.day + " " + reason.illnessEndDate.month | displayMonth + " " + reason.illnessEndDate.year
              },
              actions: {
                items: [
                  {
                    href: "illness/illness-end-date/?id=" + loop.index0,
                    text: "Change",
                    visuallyHiddenText: "illness end date"
                  }
                ]
              }
            }
            %}
            {% endif %}

            {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Who was ill?"
      },
      value: {
        html: illPersonHTML
      },
      actions: {
        items: [
          {
            href: "illness/who-was-ill/?id=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "who was ill"
          }
        ]
      }
    },
    {
      key: {
        text: "Illness start date"
      },
      value: {
        text: reason.illnessStartDate.day + " " + reason.illnessStartDate.month | displayMonth + " " + reason.illnessStartDate.year
      },
      actions: {
        items: [
          {
            href: "illness/illness-start-date/?id" + loop.index0,
            text: "Change",
            visuallyHiddenText: "illness start date"
          }
        ]
      }
    },
    endDateHTML,
    {
      key: {
        text: "Further information"
      },
      value: {
        html: reason.illnessInformation | safe | nl2br
      },
      actions: {
        items: [
          {
            href: "illness/illness-information/?id=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "further information"
          }
        ]
      }
    },
    documents
  ]
}) }}
          {% elif reason.reason === 'covid' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Coronavirus (COVID-19)</h3>

          {% elif reason.reason === 'authCode' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Missing company authentication code</h3>

          {% elif reason.reason === 'damage' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Theft or criminal damage</h3>

            {{ chSummaryList({
            rows: [
            {
            key: {
              text: "Date of incident"
            },
            value: {
              html: reason.damageDate.day + " " + reason.damageDate.month | displayMonth + " " + reason.damageDate.year
            },
            actions: {
              items: [
            {
            href: "theft-criminal-damage/damage-date/?id=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "date of incident"
            }
            ]
            }
          },
          {
          key: {
            text: "Further information"
          },
          value: {
            html: reason.damage | safe | nl2br
          },
          actions: {
            items: [
          {
          href: "/theft-criminal-damage/reason-damage?id=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "further information"
          }
          ]
        }
      },
        documents
        ]
          }) }}

          {% elif reason.reason === 'disaster' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Fire, flood or other natural disaster</h3>
            {{ chSummaryList({
            rows: [
            {
            key: {
              text: "Date of incident"
            },
            value: {
              html: reason.disasterDate.day + " " + reason.disasterDate.month | displayMonth + " " + reason.disasterDate.year
            },
            actions: {
              items: [
            {
            href: "natural-disaster/disaster-date/?id=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "date of incident"
            }
            ]
            }
          },
          {
          key: {
            text: "Further information"
          },
          value: {
            html: reason.naturalDisaster | safe | nl2br
          },
          actions: {
            items: [
          {
          href: "/natural-disaster/reason-natural-disaster?id=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "further information"
          }
          ]
        }
      },
        documents
        ]
          }) }}

          {% elif reason.reason === 'accounts' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Accounting issues</h3>
            {{ chSummaryList({
            rows: [
            {
            key: {
              text: "Date issue happened"
            },
            value: {
              html: reason.accountsDate.day + " " + reason.accountsDate.month | displayMonth + " " + reason.accountsDate.year
            },
            actions: {
              items: [
            {
            href: "accounts/accounts-date/?id=" + loop.index0,
              text: "Change",
              visuallyHiddenText: "date accounting issue happened"
            }
            ]
            }
            },
            {
            key: {
            text: "Further information"
            },
            value: {
            html: reason.accounts | safe | nl2br
            },
            actions: {
            items: [
            {
            href: "/accounts/reason-accounts?id=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "further information"
            }
            ]
            }
            },
            documents
            ]
            }) }}

          {% elif reason.reason === 'companyChanges' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Changes to the company</h3>

            {% if reason.dateWasChanged != null %}
              {% set changesDateHTML = {
              key: {
                text: "Date the changes happened"
              },
              value: {
                html: reason.dateWasChanged.day + " " + reason.dateWasChanged.month | displayMonth + " " + reason.dateWasChanged.year
              },
              actions: {
                items: [
                  {
                    href: "/company-changes/aware-change-date?id={" + loop.index0,
                    text: "Change",
                    visuallyHiddenText: "date the changes happened"
                  }
                ]
              }
            }
            %}
            {% elseif reason.dateWillChanged != null %}
              {% set changesDateHTML = {
              key: {
                text: "Date the changes will happen"
              },
              value: {
                html: reason.dateWillChange.day + " " + reason.dateWillChange.month | displayMonth + " " + reason.dateWillChange.year
              },
              actions: {
                items: [
                  {
                    href: "/company-changes/date-will-change?id=" + loop.index0,
                    text: "Change",
                    visuallyHiddenText: "date the changes will happen"
                  }
                ]
              }
            }
            %}
            {% elseif reason.awareChangeDate != null %}
              {% set changesDateHTML = {
              key: {
                text: "Date aware of changes"
              },
              value: {
                html: reason.awareChangeDate.day + " " + reason.awareChangeDate.month | displayMonth + " " + reason.awareChangeDate.year
              },
              actions: {
                items: [
                  {
                    href: "/company-changes/aware-change-date?id={" + loop.index0,
                    text: "Change",
                    visuallyHiddenText: "date aware of changes"
                  }
                ]
              }
            }
            %}
            {% else %}
            {% endif %}

            {{ chSummaryList({
            rows: [
            changesDateHTML,
            {
            key: {
            text: "Further information"
            },
            value: {
            html: reason.companyChanges | safe | nl2br
            },
            actions: {
            items: [
            {
            href: "/company-changes/reason-company-changes?id=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "further information"
            }
            ]
            }
            },
            documents
            ]
            }) }}

          {% elif reason.reason === 'computerProblem' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Problems filing online</h3>

            {% set problemReasonHTML %}
            {% if reason.problemReason === 'other' %}
              Other reason -
              {{ reason.otherProblemReason }}
            {% else %}
              {{ reason.problemReason | safe | nl2br }}
            {% endif %}
            {% endset %}

            {{ chSummaryList({
            rows: [
              {
                key: {
                  text: "Reason"
                },
                value: {
                   html: problemReasonHTML
                },
                 actions: {
                    items: [
                 {
                    href: "/computer-problem/choose-computer-problem?id=" + loop.index0,
                    text: "Change",
                    visuallyHiddenText: "Problems filing online reason"
                  }
                ]
              }
            },
            {
              key: {
            text: "Date you tried to file"
            },
            value: {
            html: reason.problemDate.day + " " + reason.problemDate.month | displayMonth + " " + reason.problemDate.year
            },
            actions: {
            items: [
            {
            href: "/computer-problem/problem-date?id=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "Date you tried to file"
            }
            ]
            }
            },
            {
              key: {
            text: "Further information"
            },
            value: {
            html: reason.computerProblem | safe | nl2br
            },
            actions: {
            items: [
            {
            href: "/computer-problem/reason-computer-problem?id=" + loop.index0,
            text: "Change",
            visuallyHiddenText: "further information"
            }
            ]
            }
            },
            documents
            ]
            }) }}

          {% else %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Other reason</h3>

            {% set otherReasonHTML %}
            {% if reason.otherReason != "" %}
              {{ reason.otherReason }}
            {% else %}
              Not provided
            {% endif %}
            {% endset %}

            {{ chSummaryList({
            rows: [
              {
                key: {
                  text: "Reason"
                },
                value: {
                   html: otherReasonHTML
                },
                 actions: {
                    items: [
                 {
                    href: "/other/reason-other?id=" + loop.index0,
                    text: "Change",
                    visuallyHiddenText: "other reason"
                  }
                ]
              }
            },
            {
              key: {
                text: "Further information"
              },
              value: {
                 html: reason.otherInformation | safe | nl2br
              },
               actions: {
                  items: [
               {
                  href: "/other/reason-other?id=" + loop.index0,
                  text: "Change",
                  visuallyHiddenText: "further information"
                }
              ]
            }
            },
            documents
            ]
            }) }}

          {% endif %}
          <p class="govuk-body">
            <a href="/remove-reason?id={{loop.index0}}" class="govuk-link">Remove this reason</a>
          </p>
        </div>
      {% endfor %}
      <p class="govuk-!-margin-bottom-7 govuk-!-margin-top-7">
        <a href="/choose-reason" class="govuk-link">Add another reason</a>
      </p>
      {% if mode %}
        <form action="" method="post">
          {{ govukButton({
            text: "Continue with this application"
          }) }}
          <p>
            <a href="choose-reason?restart=yes" class="govuk-link">Start a new application</a>
          </p>
          <p>
            <a href="sign-out" class="govuk-link">Sign out</a>
          </p>
        </form>
      {% else %}
        <h2 class="govuk-heading-m">Submit your application</h2>
        <p>
          By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are true.
        </p>
        <form action="" method="post">
          {{ govukButton({
            text: "Submit your application"
          }) }}
          <p>
            <a href="/sign-out" class="govuk-link">Save and sign out</a>
          </p>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}