{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Choose a reason for your extension
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "/confirm-company"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
                titleText: "There is an error on the page",
                errorList: errorList
              }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set extensionReasonError = {
            text: extensionReasonErr.text
          } %}
        {% else %}
          {% set extensionReasonError = false %}
        {% endif %}

        {% if errorList.length > 0 %}
          {% if extensionReasonErr.type === 'invalid' %}
            {% set otherReasonError = true %}
          {% else %}
            {% set otherReasonError = false %}
          {% endif %}
        {% endif %}

        {% set otherInput %}
        {{ govukInput({
              id: "other-reason",
              name: "otherReason",
              classes: "",
              errorMessage: otherReasonError,
              label: {
                text: "Short description of the reason"
              }
            }) }}
        {% endset %}

        {{ govukRadios({
                idPrefix: "choose-reason",
                name: "extensionReason",
                errorMessage: extensionReasonError,
                fieldset: {
                  legend: {
                    text: 'Why are you applying for an extension?',
                    isPageHeading: true,
                    classes: 'govuk-fieldset__legend--xl'
                  }
                },
                items: [
                  {
                    value: "illness",
                    text: "Illness",
                    checked: checkedIllness
                  },
                  {
                    value: "authCode",
                    text: "Missing company authentication code",
                    checked: checkedAuthCode
                  },
                  {
                    value: "accounts",
                    text: "Accounting issues",
                    checked: checkedAccounts
                  },
                  {
                    value: "damage",
                    text: "Theft or criminal damage",
                    checked: checkedDamage
                  },
                  {
                    value: "computerProblem",
                    text: "Problems filing online",
                    checked: checkedComputer
                  },
                  {
                    value: "companyChanges",
                    text: "Changes to the company",
                    checked: checkedCompany
                  },
                  {
                    value: "disaster",
                    text: "Fire, flood or other natural disaster",
                    checked: checkedDisaster
                  },
                  {
                    value: "other",
                    text: "I'm applying for another reason",
                    checked: otherReasonError,
                    conditional: {
                      html: otherInput
                    }
                  }
                ]
              }) }}

        {{ govukInput({
          id: "editId",
          name: "editId",
          type: "hidden",
          value: id
        }) }}

        {{ govukButton({
            text: "Continue"
          }) }}
      </form>
    </div>
  </div>

{% endblock %}