{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  {% set shortdeadlineHTML %}
  <span class="govuk-!-font-weight-bold">You may not hear from us before your accounts are due. If your application is accepted, the extension period will start from the date your accounts are due.</span>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if authCodeFlag === true and extensionReasons.length === 1 %}
        <div class="govuk-panel govuk-panel--confirmation">
          {% if scenario.company.deadlineStatus === '7days' %}
            <h1 class="govuk-panel__title">Application accepted</h1>
            <div class="govuk-panel__body">
              The filing deadline for
              {{ scenario.company.name }}
              has been extended by 14 days until
              {{ scenario.company.extensionTwoWeek }}.
            </div>
          {% elseif scenario.company.deadlineStatus !== '14 days' %}
            <h1 class="govuk-panel__title">Application accepted</h1>
            <div class="govuk-panel__body">
              The filing deadline for
              {{ scenario.company.name }}
              has been extended by 7 days until
              {{ scenario.company.extensionOneWeek }}.
            </div>
          {% else %}
            <h1 class="govuk-panel__title">Extension not required</h1>
            <div class="govuk-panel__body">
              {{ scenario.company.name }}
              still has time to file its accounts before the deadline.
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Application submitted</h1>
          <div class="govuk-panel__body">
            Your reference number is the company number<br>
            <strong>{{ scenario.company.number }}</strong>
          </div>
        </div>
      </div>
    {% endif %}

    {% if authCodeFlag !== true and extensionReasons.length === 1 %}
      <p class="govuk-body-l">
        We've sent a confirmation email to
        <span class="govuk-body-l govuk-!-font-weight-bold">{{ userEmail }}</span>
        which contains your reference number and application information.
      </p>
    {% else %}
      <p class="govuk-body-l">
        We've sent a confirmation email to
        <span class="govuk-body-l govuk-!-font-weight-bold">{{ userEmail }}</span>
        which contains your application information.
      </p>
      <p class="govuk-body-m">
        {% if scenario.company.deadlineStatus === '7days' %}
          Your new filing deadline is
          <span class="govuk-!-font-weight-bold">{{ scenario.company.extensionTwoWeek }}</span>.
        {% elseif scenario.company.deadlineStatus === '14days' %}
          Your new filing deadline is
          <span class="govuk-!-font-weight-bold">{{ scenario.company.extensionOneWeek }}</span>.
        {% endif %}
        {% if confirmAddress === false %}
        {% else %}
          We've also sent an authentication code reminder to the company's registered office address.
        {% endif %}
      </p>
    {% endif %}

    <p class="govuk-body">
      <a href="javascript:if(window.print)window.print()" class="govuk-link govuk-link__print">Print a copy of this application</a>
    </p>

    <div class="print-content">
      {% for reason in extensionReasons %}
        {% if extensionReasons.length > 1 %}
          {% set extensionListIndex %}
          {{loop.index}}:
          {% endset %}
        {% else %}
          {% set extensionListIndex = '' %}
        {% endif %}
        <div class="reason-container">
          {% if reason.reason === 'illness' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Illness</h3>
            <dl class="app-check-your-answers app-check-your-answers--long">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Who was ill?
                </dt>
                <dd class="app-check-your-answers__answer">
                  {% if reason.illPerson === 'Someone else' %}
                    Someone else -
                    {{ reason.otherPerson }}
                  {% else %}
                    {{ reason.illPerson | capitalize }}
                  {% endif %}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="illness/who-was-ill/?id={{loop.index0}}">Change</a>
                </dd>
                <dd class="app-check-your-answers__change"></dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Illness start date
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.illnessStartDate.day }}
                  {{ reason.illnessStartDate.month | displayMonth }}
                  {{ reason.illnessStartDate.year }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="illness/illness-start-date/?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              {% if reason.continuedIllness === 'yes' %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Continuing illness?
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ reason.continuedIllness | capitalize }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="illness/continued-illness/?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% else %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Illness end date
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ reason.illnessEndDate.day }}
                    {{ reason.illnessEndDate.month | displayMonth }}
                    {{ reason.illnessEndDate.year }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="illness/illness-end-date/?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% endif %}
              {% if reason.illnessInformation != null %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question app-check-your-answers__question-full-width">
                    Further information
                  </dt>
                  <dd class="app-check-your-answers__answer app-check-your-answers__question--full-width">
                    {{ reason.illnessInformation | safe | nl2br }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="illness/illness-information/?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% endif %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Supporting documents
                </dt>
                <dd class="app-check-your-answers__answer">
                  {% if reason.documents.length > 0 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for document in reason.documents | reverse %}
                        <li>
                          <a href='' class='govuk-link' download="download">{{ document }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    None
                  {% endif %}
                </dd>
                <dd class="app-check-your-answers__change">
                  {% if reason.documents.length > 0 %}
                    <a href="evidence-upload?id={{loop.index0}}">Change</a>
                  {% else %}
                    <a href="evidence?id={{loop.index0}}">Change</a>
                  {% endif %}
                </dd>
              </div>
            </dl>
          {% elif reason.reason === 'authCode' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Missing company authentication code</h3>
            <dl class="app-check-your-answers app-check-your-answers--long">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Registered office address
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ scenario.company.address | nl2br | safe }}
                </dd>
              </div>
            </dl>
          {% elif reason.reason === 'damage' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Theft or criminal damage</h3>
            <dl class="app-check-your-answers app-check-your-answers--long">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Date of incident
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.damageDate.day }}
                  {{ reason.damageDate.month | displayMonth }}
                  {{ reason.damageDate.year }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="theft-criminal-damage/damage-date/?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Further information
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.damage | safe | nl2br }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="/theft-criminal-damage/reason-damage?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Supporting documents
                </dt>
                <dd class="app-check-your-answers__answer">
                  {% if reason.documents.length > 0 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for document in reason.documents | reverse %}
                        <li>
                          <a href='' class='govuk-link' download="download">{{ document }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    None
                  {% endif %}
                </dd>
                <dd class="app-check-your-answers__change">
                  {% if reason.documents.length > 0 %}
                    <a href="evidence-upload?id={{loop.index0}}">Change</a>
                  {% else %}
                    <a href="evidence?id={{loop.index0}}">Change</a>
                  {% endif %}
                </dd>
              </div>
            </dl>
          {% elif reason.reason === 'disaster' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Natural disaster</h3>
            <dl class="app-check-your-answers app-check-your-answers--long">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Date natural disaster happened
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.disasterDate.day }}
                  {{ reason.disasterDate.month | displayMonth }}
                  {{ reason.disasterDate.year }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="natural-disaster/disaster-date/?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Further information
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.naturalDisaster | safe | nl2br }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="/natural-disaster/reason-natural-disaster?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              {% if reason.supportingEvidence === 'yes' %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Supporting documents
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href='' class='govuk-link'>evidence-letter.jpg</a>
                      </li>
                    </ul>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="illness/illness-information/?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% endif %}
            </dl>
          {% elif reason.reason === 'accounts' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Accounting issues</h3>
            <dl class="app-check-your-answers app-check-your-answers--long">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Date issue happened
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.accountsDate.day }}
                  {{ reason.accountsDate.month | displayMonth }}
                  {{ reason.accountsDate.year }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="accounts/accounts-date/?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Further information
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.accounts | safe | nl2br }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="/accounts/reason-accounts?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              {% if reason.supportingEvidence === 'yes' %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Supporting documents
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href='' class='govuk-link'>evidence-letter.jpg</a>
                      </li>
                    </ul>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% endif %}
            </dl>
          {% elif reason.reason === 'companyChanges' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Changes to the company</h3>
            <dl class="app-check-your-answers app-check-your-answers--long">
              {% if reason.dateWasChanged != null %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Date the changes happened
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ reason.dateWasChanged.day }}
                    {{ reason.dateWasChanged.month | displayMonth }}
                    {{ reason.dateWasChanged.year }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/company-changes/aware-change-date?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% elseif reason.dateWillChange != null %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Date the changes will happen
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ reason.dateWillChange.day }}
                    {{ reason.dateWillChange.month | displayMonth }}
                    {{ reason.dateWillChange.year }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/company-changes/date-will-change?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% else %}
              {% endif %}
              {% if reason.awareChangeDate != null %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Date aware of change
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ reason.awareChangeDate.day }}
                    {{ reason.awareChangeDate.month | displayMonth }}
                    {{ reason.awareChangeDate.year }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/company-changes/aware-change-date?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% else %}
              {% endif %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Further information
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.companyChanges | safe | nl2br }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="/company-changes/reason-company-changes?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              {% if reason.supportingEvidence === 'yes' %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Supporting documents
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href='' class='govuk-link'>evidence-letter.jpg</a>
                      </li>
                    </ul>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% endif %}
            </dl>
          {% elif reason.reason === 'computerProblem' %}
            <h3 class="govuk-heading-m">{{extensionListIndex}}Problems filing online</h3>
            <dl class="app-check-your-answers app-check-your-answers--long">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Reason
                </dt>
                <dd class="app-check-your-answers__answer">
                  {% if reason.problemReason === 'other' %}
                    Other reason -
                    {{ reason.otherProblemReason }}
                  {% else %}
                    {{ reason.problemReason | safe | nl2br }}
                  {% endif %}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="/computer-problem/choose-computer-problem?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              {% if reason.problemReason !== 'Authentication code' %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    You tried to file
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ reason.problemDate.day }}
                    {{ reason.problemDate.month | displayMonth }}
                    {{ reason.problemDate.year }}
                    {{ reason.problemTime.hour }}
                    {{ reason.problemTime.minute }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/computer-problem/problem-date?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Further information
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ reason.computerProblem | safe | nl2br }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/computer-problem/reason-computer-problem?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
                {% if reason.supportingEvidence === 'yes' %}
                  <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                      Supporting documents
                    </dt>
                    <dd class="app-check-your-answers__answer">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href='' class='govuk-link'>evidence-letter.jpg</a>
                        </li>
                      </ul>
                    </dd>
                    <dd class="app-check-your-answers__change">
                      <a href="/?id={{loop.index0}}">Change</a>
                    </dd>
                  </div>
                {% endif %}
              {% endif %}
            </dl>
          {% else %}
            <h3 class="govuk-heading-m">{{loop.index}}: Other reason</h3>
            <dl class="app-check-your-answers app-check-your-answers--long">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Reason title
                </dt>
                <dd class="app-check-your-answers__answer">
                  {% if reason.otherReason != "" %}
                    {{ reason.otherReason }}
                  {% else %}
                    Not provided
                  {% endif %}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="/other/reason-other?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              {% if reason.otherInformation != null %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Further information
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ reason.otherInformation | safe | nl2br }}
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/other/reason-other?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% endif %}
              {% if reason.supportingEvidence === 'yes' %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Supporting documents
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href='' class='govuk-link'>evidence-letter.jpg</a>
                      </li>
                    </ul>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% endif %}
            </dl>
          {% endif %}
          <p class="govuk-body">
            <a href="/remove-reason?id={{loop.index0}}" class="govuk-link">Remove this reason</a>
          </p>
        </div>
      {% endfor %}
    </div>

    {% if (scenario.company.deadlineStatus === '7days') and (authCodeFlag === false) %}
      {{ govukInsetText({
          html: shortdeadlineHTML
        }) }}
    {% endif %}
    {% if (scenario.company.deadlineStatus === '14days') and (authCodeFlag === false) %}
      {{ govukInsetText({
          html: shortdeadlineHTML
        }) }}
    {% endif %}
    <h2 class="govuk-heading-m">What happens next</h2>

    <!-- {% if authCodeFlag === true %} {% if confirmAddress === false %} <p class="govuk-body">You must file your accounts by <span class="govuk-!-font-weight-bold">{{scenario.company.extensionTwoWeek}}</span>.</p> <p class="govuk-body">To file online
    you'll need to:</p> <ol class="govuk-list govuk-list--number"> <li> <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/287369/AD01_change_of_registered_office_address.pdf">update your registered
    office</a> </li> <li> <a href="https://beta.companieshouse.gov.uk/">check your registered office has been updated</a> </li> <li> <a href="https://ewf.companieshouse.gov.uk/">request an authentication code</a> </li> </ol> {% else %} <p>You should
    receive the authentication code at the registered office within 5 working days.</p> {% if scenario.company.deadlineStatus === '7days' %} <p>You should file your accounts by <b>{{scenario.company.extensionTwoWeek}}</b>. </p> {% elseif
    scenario.company.deadlineStatus === '14days' %} <p>You should file your accounts by <b>{{scenario.company.extensionOneWeek}}</b>. </p> {% else %} <p>You will not receive an extension to your filing deadline and should file before your due date of
    <b>{{ scenario.company.accountsDue }}</b>.</p> {% endif %} {% endif %} {% else %} <p>It will take up to 5 working days to review your application. We’ll contact you by email with our decision. Accepted applications normally receive an extension of 28
    days. We may also contact you if we need more information.</p> {% endif %} -->
    {% if authCodeFlag === true %}
      <p>You should receive the authentication code at the registered office within 5 working days.</p>
      {% if scenario.company.deadlineStatus === '7days' %}
        <p>You should file your accounts by
          <b>{{scenario.company.extensionTwoWeek}}</b>.
        </p>
      {% elseif scenario.company.deadlineStatus === '14days' %}
        <p>You should file your accounts by
          <b>{{scenario.company.extensionOneWeek}}</b>.
        </p>
      {% else %}
        <p>You will not receive an extension to your filing deadline and should file before your due date of
          <b>{{ scenario.company.accountsDue }}</b>.</p>
      {% endif %}
    {% else %}
      <p>It will take up to 5 working days to review your application. We’ll contact you by email with our decision. Accepted applications normally receive an extension of 28 days. We may also contact you if we need more information.</p>
    {% endif %}
    <p class="govuk-body">
      <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html" class="govuk-link">What did you think of this service?</a>
      (takes 30 seconds)
    </p>
  </div>
</div>

{% endblock %}