{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Add documents to support your application
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {% set backLinkHref %}
  {{ backLink }}
  {% endset -%}

  {{ govukBackLink({
    text: "Back",
    href: ''
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
              titleText: "There was a problem with the information you gave us",
              errorList: errorList
            }) }}
      {% endif %}

      <form action="" method="post">

        {% if errorList.length > 0 %}
          {% set supportingEvidenceError = {
            text: supportingEvidenceErr.text
          } %}
        {% else %}
          {% set supportingEvidenceError = false %}
        {% endif %}

        {% set hintHTML %}
        Anything you upload will be kept confidential.
        {% endset -%}

        {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "supporting-evidence",
              name: "supportingEvidence",
              errorMessage: supportingEvidenceError,
              fieldset: {
                legend: {
                  text: 'Do you want to add documents to support your application?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              hint: {
                html: hintHTML
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

        {{ govukButton({
              text: "Continue"
            }) }}
        <p>
          <a href="/sign-out" class="govuk-link">Save and sign out</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}