{% extends "layout.html" %}

{% block pageTitle %}
  Remove extension reason
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "check-your-answers"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
                titleText: "There is an error on the page",
                errorList: errorList
              }) }}
        {% endif %}

        {% if errorList.length > 0 %}
          {% set Err = {
            text: Err.text
          } %}
        {% else %}
          {% set Err = false %}
        {% endif %}

        {% if errorList.length > 0 %}
          {% if Err.type === 'invalid' %}
            {% set otherReasonError = true %}
          {% else %}
            {% set otherReasonError = false %}
          {% endif %}
        {% endif %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "remove-reason",
          name: "removeReason",
          errorMessage: Err,
          fieldset: {
            legend: {
              text: "Do you want to remove this reason?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% if extensionReasons.length === 1 %}
          {{ govukInsetText({
            text: "You must have at least one reason to apply for an extension. By removing this reason, you'll need to enter another reason."
          }) }}
        {% endif %}

        {% if reason.reason === 'illness' %}
          <h2 class="govuk-heading-m">{{extensionListIndex}}Illness</h2>
          <dl class="app-check-your-answers app-check-your-answers--long">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Who was ill?
              </dt>
              <dd class="app-check-your-answers__answer">
                {% if reason.illPerson === 'Someone else' %}
                  Someone else -
                  {{ reason.otherPerson }}
                {% else %}
                  {{ reason.illPerson | capitalize }}
                {% endif %}
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Illness start date
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ reason.illnessStartDate.day }}
                {{ reason.illnessStartDate.month | displayMonth }}
                {{ reason.illnessStartDate.year }}
              </dd>
            </div>
            {% if reason.continuedIllness === 'yes' %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Continuing illness?
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.continuedIllness | capitalize }}
                </dd>
              </div>
            {% else %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Illness end date
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.illnessEndDate.day }}
                  {{ reason.illnessEndDate.month | displayMonth }}
                  {{ reason.illnessEndDate.year }}
                </dd>
              </div>
            {% endif %}
            {% if reason.illnessInformation != null %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Further information
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.illnessInformation | safe | nl2br }}
                </dd>
              </div>
            {% endif %}
            {% if reason.supportingEvidence === 'yes' %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Supporting documents
                </dt>
                <dd class="app-check-your-answers__answer">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href='' class='govuk-link'>evidence-letter.jpg</a>
                    </li>
                  </ul>
                </dd>
              </div>
            {% endif %}
          </dl>
        {% elif reason.reason === 'authCode' %}
          <h3 class="govuk-heading-m">{{extensionListIndex}}Missing company authentication code</h3>
          <dl class="app-check-your-answers app-check-your-answers--long">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Registered office address
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ scenario.company.address | nl2br | safe }}
              </dd>
            </div>
          </dl>
        {% elif reason.reason === 'damage' %}
          <h2 class="govuk-heading-m">{{extensionListIndex}}Theft or criminal damage</h2>
          <dl class="app-check-your-answers app-check-your-answers--long">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Date theft or criminal damage happened
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ reason.damageDate.day }}
                {{ reason.damageDate.month | displayMonth }}
                {{ reason.damageDate.year }}
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Further information
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ reason.damage | safe | nl2br }}
              </dd>
            </div>
            {% if reason.supportingEvidence === 'yes' %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Supporting documents
                </dt>
                <dd class="app-check-your-answers__answer">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href='' class='govuk-link'>evidence-letter.jpg</a>
                    </li>
                  </ul>
                </dd>
              </div>
            {% endif %}
          </dl>
        {% elif reason.reason === 'disaster' %}
          <h2 class="govuk-heading-m">{{extensionListIndex}}Natural disaster</h2>
          <dl class="app-check-your-answers app-check-your-answers--long">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Date natural disaster happened
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ reason.disasterDate.day }}
                {{ reason.disasterDate.month | displayMonth }}
                {{ reason.disasterDate.year }}
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Further information
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ reason.naturalDisaster | safe | nl2br }}
              </dd>
            </div>
            {% if reason.supportingEvidence === 'yes' %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Supporting documents
                </dt>
                <dd class="app-check-your-answers__answer">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href='' class='govuk-link'>evidence-letter.jpg</a>
                    </li>
                  </ul>
                </dd>
              </div>
            {% endif %}
          </dl>
        {% elif reason.reason === 'accounts' %}
          <h2 class="govuk-heading-m">{{extensionListIndex}}Accounting issues</h2>
          <dl class="app-check-your-answers app-check-your-answers--long">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Date issue happened
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ reason.accountsDate.day }}
                {{ reason.accountsDate.month | displayMonth }}
                {{ reason.accountsDate.year }}
              </dd>
            </div>
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Further information
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ reason.accounts | safe | nl2br }}
              </dd>
            </div>
            {% if reason.supportingEvidence === 'yes' %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Supporting documents
                </dt>
                <dd class="app-check-your-answers__answer">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href='' class='govuk-link'>evidence-letter.jpg</a>
                    </li>
                  </ul>
                </dd>
              </div>
            {% endif %}
          </dl>
        {% elif reason.reason === 'companyChanges' %}
          <h2 class="govuk-heading-m">{{extensionListIndex}}Changes to the company</h2>
          <dl class="app-check-your-answers app-check-your-answers--long">
            {% if reason.dateWasChanged != null %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Date the changes happened
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.dateWasChanged.day }}
                  {{ reason.dateWasChanged.month | displayMonth }}
                  {{ reason.dateWasChanged.year }}
                </dd>
              </div>
            {% elseif reason.dateWillChange != null %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Date the changes will happen
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.dateWillChange.day }}
                  {{ reason.dateWillChange.month | displayMonth }}
                  {{ reason.dateWillChange.year }}
                </dd>
              </div>
            {% else %}
            {% endif %}
            {% if reason.awareChangeDate != null %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Date aware of change
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.awareChangeDate.day }}
                  {{ reason.awareChangeDate.month | displayMonth }}
                  {{ reason.awareChangeDate.year }}
                </dd>
              </div>
            {% else %}
            {% endif %}
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Further information
              </dt>
              <dd class="app-check-your-answers__answer">
                {{ reason.companyChanges | safe | nl2br }}
              </dd>
            </div>
            {% if reason.supportingEvidence === 'yes' %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Supporting documents
                </dt>
                <dd class="app-check-your-answers__answer">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href='' class='govuk-link'>evidence-letter.jpg</a>
                    </li>
                  </ul>
                </dd>
              </div>
            {% endif %}
          </dl>
        {% elif reason.reason === 'computerProblem' %}
          <h2 class="govuk-heading-m">{{extensionListIndex}}Problems filing online</h2>
          <dl class="app-check-your-answers app-check-your-answers--long">
            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Reason
              </dt>
              <dd class="app-check-your-answers__answer">
                {% if reason.problemReason === 'other' %}
                  Other reason -
                  {{ reason.otherProblemReason }}
                {% else %}
                  {{ reason.problemReason | safe | nl2br }}
                {% endif %}
              </dd>
              <dd class="app-check-your-answers__change">
                <a href="/computer-problem/choose-computer-problem?id={{loop.index0}}">Change</a>
              </dd>
            </div>
            {% if reason.problemReason !== 'Authentication code' %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  You tried to file
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.problemDate.day }}
                  {{ reason.problemDate.month | displayMonth }}
                  {{ reason.problemDate.year }}
                  {{ reason.problemTime.hour }}
                  {{ reason.problemTime.minute }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="/computer-problem/problem-date?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Further information
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.computerProblem | safe | nl2br }}
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="/computer-problem/reason-computer-problem?id={{loop.index0}}">Change</a>
                </dd>
              </div>
              {% if reason.supportingEvidence === 'yes' %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Supporting documents
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href='' class='govuk-link'>evidence-letter.jpg</a>
                      </li>
                    </ul>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <a href="/?id={{loop.index0}}">Change</a>
                  </dd>
                </div>
              {% endif %}
            {% endif %}
          </dl>
        {% else %}
          <h2 class="govuk-heading-m">{{loop.index}}:
            {{ reason.otherReason }}</h2>
          <dl class="app-check-your-answers app-check-your-answers--long">
            {% if reason.otherInformation != null %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Further information
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ reason.otherInformation | safe | nl2br }}
                </dd>
              </div>
            {% endif %}
            {% if reason.supportingEvidence === 'yes' %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Supporting documents
                </dt>
                <dd class="app-check-your-answers__answer">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href='' class='govuk-link'>evidence-letter.jpg</a>
                    </li>
                  </ul>
                </dd>
              </div>
            {% endif %}
          </dl>
        {% endif %}
        {{ govukInput({
          id: "id",
          name: "id",
          type: "hidden",
          value: id
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}