{% extends "layout.html" %}

{% block pageTitle %}
  Extend your filing deadline
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a trial service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "enter-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sorry, the service is unavailable
      </h1>
      <p class="govuk-body-l">You will be able to use the service from 9am on Monday 19 September 2019.</p>
      {% set detailsText %}
      <p>You can send an application to us by email or by post, but we must receive it before your normal filing deadline. It should include a full explanation of why you need more time to file.</p>
      <h2 class="govuk-heading-m">By email</h2>
      <p class="govuk-body">enquiries@companieshouse.gov.uk</p>
      <h2 class="govuk-heading-m">By post</h2>
      <h3 class="govuk-heading-s">England Wales and Northern Ireland</h3>
      <p class="govuk-body">
        Companies House<br/>
        PO Box 710<br/>
        Crown Way<br/>
        CF14 3UZ
      </p>
      <h3 class="govuk-heading-s">Scotland</h3>
      <p class="govuk-body">
        Companies House<br/>
        Fourth Floor<br/>
        Edinburgh Quay 2<br/>
        139 Fountainbridge<br/>
        Edinburgh<br/>
        EH3 9FF
      </p>

      {% endset %}

      {{ govukDetails({
        summaryText: "Other ways to apply to extend your filing deadline",
        html: detailsText
      }) }}
    </div>
  </div>
{% endblock %}