{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "confirm-company"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You cannot use this service</h1>
      <p class="govuk-body-m">
        We cannot give an extension to RUNNING LATE LTD (00111112) as 12 months or more has passed since the last date for filing and the end of the accounting reference period.
      </p>
      <p>The company must now
        <a href="https://www.gov.uk/running-a-limited-company">file its overdue accounts</a>.</p>
      <p>The company will receive an automatic
        <a href="https://www.gov.uk/annual-accounts/penalties-for-late-filing">late filing penalty</a>
        as soon as the accounts are filed and accepted because they are already late. The penalty will increase over time until the accounts are filed and applies to all companies, no matter what size or type of business. If the company’s accounts are filed
        late in consecutive years, the penalty will double for that year’s accounts.</p>

    </div>
  </div>
{% endblock %}